
footer {
    background: var(--background-alt);
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: var(--text-muted);
}

.footer-social ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0px;
}

.footer-icon {
    width: 30px;
    height: 30px;
}